
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.listArticle


@if (@ViewBag.size > 5)
{
    <a href="#" class="btn btn-secondary">Previous</a>
    <a href="#" class="btn btn-secondary">Next</a>
}
