
@{
    ViewBag.Title = "DemoUp";
}


<form action="/Home/Verify" method="post">
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input  name="username" type="text" class="form-control w-25">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="password" type="password" class="form-control w-25" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/Home/Register">Register</a>
</form>
