
@{
    ViewBag.Title = "Register";
}
<p id="message"></p>
<form id="avatar">
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input name="username" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Link Facebook</label>
        <input name="link" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input name="name" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input name="confirmPassword" type="password" class="form-control" id="exampleInputPassword1">
    </div>



    <label for="img">Select image:</label>
    <input style="width:200px;" type="file" id="img" name="img" accept="image/*" onchange="readURL(this);">


    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<img id="blah" src="http://placehold.it/180" alt="your image" />





@ViewBag.src
<script src="~/Scripts/jsController/UpImage.js">

</script>